$bg:#212121;
$accent:#FF5500;
$text:#fff;

%pop-400 {
   font-family: 'Poppins-Regular', sans-serif;
   font-weight: 400;
}
%pop-900 {
   font-family: 'Poppins-Black', sans-serif;
   font-weight: 900;
}
%pop-700 {
   font-family: 'Poppins-Bold', sans-serif;
   font-weight: 700;
}
%pop-800 {
   font-family: 'Poppins-SemiBold', sans-serif;
   font-weight: 800;
}
%otf-700 {
   font-family: 'OTFGlusp-Bold', sans-serif;
   font-weight: bold;
}
%til-400 {
   font-family: 'TitilliumWeb-Regular', sans-serif;
   font-weight: 400;
}
%til-800 {
   font-family: 'TitilliumWeb-SemiBold', sans-serif;
   font-weight: 800;
}


// %btn {
//    background-color: $accent;
//    text-transform: uppercase;
//    color: #fff;
//    padding: 12px 26px;
//    @extend %roboto-400;
//    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
//    cursor: pointer;
// }
