@import 'fonts';
@import 'reset';
@import 'vars';
@import 'global';
@import 'libs';

.header {
    padding: 30px 0 170px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 168px;
    }

    &__logo-title {
        @extend %otf-700;
        font-size: 14px;
        line-height: 110%;
        color: $text;
        text-transform: uppercase;
    }

    .menu {
        display: flex;
        gap: 166px;
        align-items: center;

        &__list {
            display: flex;
            gap: 44px;
            align-items: center;
        }

        &__link {
            color: $text;
            text-transform: capitalize;
            line-height: 100%;
            transition: all .4s;

            &:hover,
            &:focus {
                text-decoration: underline;
                color: $accent;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__slider-title {
        @extend %otf-700;
        font-size: 72px;
        line-height: 100%;
        color: $accent;
        margin-bottom: 70px;
        text-align: right;
    }

    .slider {
        width: 387px;
        height: 344px;
        margin-left: 50px;
        padding-left: 50px;

        &__photo {
            min-height: 344px;
            height: auto;
        }
    }

    &__info {
        max-width: 794px;
    }

    &__title {
        @extend %otf-700;
        font-size: 64px;
        line-height: 110%;
        text-transform: uppercase;
        color: $bg;
        text-shadow:
            -0 -1px 0 #FFFFFF,
            0 -1px 0 #FFFFFF,
            -0 1px 0 #FFFFFF,
            0 1px 0 #FFFFFF,
            -1px -0 0 #FFFFFF,
            1px -0 0 #FFFFFF,
            -1px 0 0 #FFFFFF,
            1px 0 0 #FFFFFF,
            -1px -1px 0 #FFFFFF,
            1px -1px 0 #FFFFFF,
            -1px 1px 0 #FFFFFF,
            1px 1px 0 #FFFFFF,
            -1px -1px 0 #FFFFFF,
            1px -1px 0 #FFFFFF,
            -1px 1px 0 #FFFFFF,
            1px 1px 0 #FFFFFF;
        margin-bottom: 24px;

        span {
            display: block;
            color: $text;
            white-space: nowrap;
        }
    }

    &__text {
        max-width: 552px;
        margin-bottom: 38px;
        display: block;
    }

    &__info-link {
        padding: 17px 26px;
        @extend %otf-700;
        color: $text;
        text-transform: uppercase;
        line-height: 100%;
        letter-spacing: 0.05em;
        background: $accent;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 50%;
        left: -174px;
        width: 100%;
        transform: rotate(90deg);
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #4E4E4E;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        background-color: $accent;
    }
}



@import 'media';