@import 'fonts';
@import 'reset';
@import 'vars';
@import 'global';
@import 'libs';

.header {
    padding: 30px 0 170px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 168px;
    }

    &__logo-title {
        @extend %otf-700;
        font-size: 14px;
        line-height: 110%;
        color: $text;
        text-transform: uppercase;
    }

    .menu {
        display: flex;
        gap: 166px;
        align-items: center;

        &__list {
            display: flex;
            gap: 44px;
            align-items: center;
        }

        &__link {
            color: $text;
            text-transform: capitalize;
            line-height: 100%;
            transition: all .4s;

            &:hover,
            &:focus {
                text-decoration: underline;
                color: $accent;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        // gap: 120px;
    }

    &__slider-title {
        @extend %otf-700;
        font-size: 72px;
        line-height: 100%;
        color: $accent;
        margin-bottom: 74px;
        text-align: right;
    }

    .slider {
        width: 437px;
        height: 340px;
        margin-left: 50px;
        padding-left: 50px;

        &__photo {
            min-width: 387px;
            min-height: 340px;
            height: auto;
        }
    }

    &__info {
        max-width: 794px;
    }

    &__title {
        @extend %otf-700;
        font-size: 64px;
        line-height: 110%;
        text-transform: uppercase;
        color: $bg;
        text-shadow:
            -0 -1px 0 #FFFFFF,
            0 -1px 0 #FFFFFF,
            -0 1px 0 #FFFFFF,
            0 1px 0 #FFFFFF,
            -1px -0 0 #FFFFFF,
            1px -0 0 #FFFFFF,
            -1px 0 0 #FFFFFF,
            1px 0 0 #FFFFFF,
            -1px -1px 0 #FFFFFF,
            1px -1px 0 #FFFFFF,
            -1px 1px 0 #FFFFFF,
            1px 1px 0 #FFFFFF,
            -1px -1px 0 #FFFFFF,
            1px -1px 0 #FFFFFF,
            -1px 1px 0 #FFFFFF,
            1px 1px 0 #FFFFFF;
        margin-bottom: 24px;

        span {
            display: block;
            color: $text;
            white-space: nowrap;
        }
    }

    &__text {
        max-width: 552px;
        margin-bottom: 38px;
        display: block;
    }

    &__info-link {
        padding: 17px 26px;
        @extend %otf-700;
        color: $text;
        text-transform: uppercase;
        line-height: 100%;
        letter-spacing: 0.05em;
        background: $accent;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 50%;
        left: -210px;
        width: 100%;
        transform: rotate(90deg);
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #4E4E4E;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        background-color: $accent;
    }
}

.story {
    background: $accent;
    padding: 100px 0 76px;

    &__title {
        @extend %otf-700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.08em;
        text-transform: lowercase;
        color: #fff;
        margin-bottom: 28px;
    }

    &__number {
        display: flex;
        gap: 32px;
        align-items: center;
        margin-bottom: 46px;
    }

    &__number-line {
        width: 100%;
        height: 1px;
        background: #fff;
    }

    &__number-symbol {
        @extend %otf-700;
        font-size: 24px;
        line-height: 100%;
        color: #fff;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        padding: 0 88px 0 154px;
    }

    &__item {
        display: flex;
        gap: 20px;
        align-items: baseline;
    }

    &__text {
        text-transform: capitalize;
    }
}

.artist {
    // position: relative;
    padding-top: 150px;
    padding-bottom: 1140px;

    &__title {
        @extend %otf-700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 28px;
    }

    &__number {
        display: flex;
        gap: 32px;
        align-items: center;
        margin-bottom: 46px;
    }

    &__number-line {
        width: 100%;
        height: 1px;
        background: $accent;
    }

    &__number-symbol {
        @extend %otf-700;
        font-size: 24px;
        line-height: 100%;
        color: $accent;
    }

    &__content-title {
        @extend %pop-700;
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__content {
        position: relative;
    }

    &__content-title {
        margin-top: 70px;
    }

    &__content-top {
        display: flex;
        gap: 116px;
        padding-left: 188px;
    }

    &__content-center {
        display: flex;
        gap: 116px;
        padding-left: 70px;
        // align-items: center;
        position: absolute;
        top: 400px;
    }

    .center-wrap {
        margin-top: 180px;
    }

    .center-title {
        margin-top: 0;
    }

    &__content-bottom {
        position: absolute;
        top: 730px;
        right: 120px;
        // text-align: right;

    }

    .bottom-wrap {
        margin-bottom: 80px;
        // padding-left:203px ;
        margin-left: 200px;
    }

    .link-box {
        position: absolute;
        top: 1240px;
        left: 70px;

        &__text {
            margin-bottom: 23px;
        }

        &__link {
            padding: 17px 26px;
            @extend %otf-700;
            color: $text;
            text-transform: uppercase;
            line-height: 100%;
            letter-spacing: 0.05em;
            background: $accent;
        }
    }
}

.project {
    padding-bottom: 150px;
    // padding-left: 80px;

    &__title {
        text-align: center;
        margin-bottom: 50px;
    }

    .artist__number {
        margin-bottom: 50px;
    }

    &__wrapper {
        display: flex;
        gap: 258px;
    }

    &__content {
        max-width: 700px;
    }

    &__descr {
        margin-left: 88px;

        span {
            color: $accent;
            display: block;
        }
    }

    &__content-title {
        @extend %pop-700;
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 34px;
    }

    &__content-text {
        padding-left: 95px;
        position: relative;
        margin-bottom: 34px;

        &::before {
            position: absolute;
            content: "“";
            width: 60px;
            height: 60px;
            @extend %otf-700;
            font-size: 96px;
            text-transform: uppercase;
            top: 30px;
            left: 10px;
        }
    }

    .descr-box {
        display: flex;
        gap: 42px;

        span {
            color: $accent;
        }
    }
}

.roadmap {
    padding-bottom: 150px;

    &__title {
        text-align: center;
    }

    &__wrapper {
        display: flex;
        gap: 220px;
    }

    &__descr {
        margin-left: 88px;
        max-width: 203px;

        span {
            color: $accent;
        }
    }

    &__item {
        @extend %otf-700;
        font-size: 36px;
        text-transform: uppercase;
        color: $accent;
        margin-right: 30px;
        padding: 20px 30px;

        // &:hover {
        //     background-color: $accent;
        //     color: #000;
        //     margin-right: 50px;

        //     .hov {
        //         display: inline-block;
        //     }

        //     .roadmap__item-span {
        //         color: #000;
        //     }
        // }
    }

    &__item-hov {
        padding: 20px 30px;
        color: #000;
        background-color: $accent;
        margin-left: -80px;

        span {
            color: #000;
        }
    }

    &__item-span {
        font-size: 16px;
        color: #fff;
        @extend %pop-400;
        text-transform: none;
    }

    .hov {
        // display: none;
        font-size: 16px;
        @extend %pop-400;
        text-transform: none;
        color: #000;
    }
}

.team {
    padding-bottom: 206px;

    &__number {
        margin-bottom: 50px;
    }

    &__title {
        text-align: center;
    }

    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 226px;
        position: relative;
    }

    &__left {
        margin-left: 88px;
        max-width: 285px;
        padding-bottom: 200px;
    }

    &__left-title {
        @extend %til-400;
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-top: 24px;
    }

    &__left-text {
        @extend %til-400;
        font-size: 14px;
        line-height: 160%;
        margin-bottom: 20px;
    }

    &__img {
        margin-bottom: 14px;
        object-fit: contain;
    }

    .name {
        @extend %otf-700;
        font-size: 24px;
        line-height: 160%;
        color: $accent;

        span {
            display: block;
            @extend %pop-400;
            color: #fff;
            font-size: 16px;
            line-height: 160%;
            text-transform: lowercase;
        }
    }

    .right-name {
        margin-left: 296px;
    }

    &__right {
        display: flex;
        gap: 20px;
        align-items: center;
        margin: 0;
    }

    .before-box {
        position: absolute;
        bottom: -58px;
        left: 394px;
    }
}


@import 'media';